<!DOCTYPE html>
<html>
<head>
    <title>Website template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
    <div id="navigation">
        <ul>
            <li><a href="/index">SLIDER</a></li>
            <li><a href="/chat">CHAT</a></li>
        </ul>
    </div>
    <div id="chatContainer">
        <div id="messagesWindow">
            
        </div>
        <div id="clientList">
            
        </div>
        <div id="channelList">
            
        </div>        
        <div>
            <form>
                <input id="messageInput" autocomplete="off" placeholder="Send a new message." />
                <button id="sendButton">Send</button>
            </form>
        </div>
        
    </div>
    
    <div id="footer">
        ©Company 2016. All rights reserved.
    </div>
    <script src="/socket.io/socket.io.js" type='text/javascript'></script>
    <script src="chat.js"></script>    
</body>
</html>