* {
margin: 0;
padding: 0;
}

body{
    font-family: "Segoe UI",Arial,sans-serif;
}

#navigation {
    position: relative;
    height: 85px;
    width:100%;
    background-color:#262626;
    padding:0;
    margin:0;
}

#navigation ul {
    position: absolute;
    right: 25%;
    bottom:15px;
    font-size: 0;
}

#navigation ul li {
    font-weight: bold;
    display: inline;
    list-style:none;
    font-size: 16px;
    margin-left:23px;
}

#navigation ul li a:hover {
    color: #ff751a;
}

#navigation ul li a {
    text-decoration: none;
    color:#fff;
    margin:0;
}

#slider {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-top:15px;
    height: 400px;
    overflow:hidden;
    border-radius:5px;
    box-shadow:1px 1px 10px 3px #BBB;
    border:1px solid #777;
}



#slider ul{
    position: absolute;
    left:45%;
    bottom: 8%;
}

#slider ul li{
    display: inline-block;
    margin-right:18px;
}

#slider ul li img{
    z-index:3;
    width:12px;
    cursor: pointer;
}


#slider img{
   width:100%;
   position: absolute;
}

#sliderText {
    position: absolute;
    bottom:50px;
    width: 100%;
    min-height:10%;
    overflow:hidden;
    z-index: 3;
}
#slideLeft {
     position: relative;
     float: left;
     background-color: #ff751a;
     height: 100%;
     margin:0 15px 0 35px;
     text-align: center;
     padding:0px 10px 0px 10px;
     line-height: 40px;
     color:#fff;
     font-weight: bold;
     font-size: 23px;
     border-radius: 2px 2px 2px 5px;
     min-width: 10%;
}

#slideRight {
     position: relative;
     float: left;
     background-color: rgba(255,255,255,0.85);
     height:100%;
     margin-right:10px;
     padding:0px 10px 0px 10px;
     line-height: 40px;
     color:#ff751a;
     border-radius: 2px 2px 5px 2px;
}

#servicesContainer {
    margin-top: 30px;
    width:50%;
    position: relative;
    left:25%;
}

#servicesContainer div {
    width:31.3%;
    position: relative;
    float: left;
    text-align: justify;
}

#servicesContainer div:nth-child(2){
    margin-left: 3%;   
    margin-right: 3%; 
}

#servicesContainer h1{
    text-transform: uppercase;
    font-size:19px;
    border-bottom:1px solid grey;
    color:#ff751a;
    margin-bottom: 10px;
}

#footer{
    border-top:1px solid #ff751a;
    position: relative;
    float:left;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align:center;
    margin-top:25px;
    color:#ff751a;
    font-size: 14px;
    box-shadow:0px 1px 1px 1px lightgrey;
}


/* CHAT Style */

#chatContainer {
    width:49%;
    margin-left: 25%;
    margin-top:20px;
    padding:0.5%;
    border-radius:5px;
    box-shadow:1px 1px 10px 3px #BBB;
    border:1px solid #777; 
    background-color:#fff;
}

#chatContainer input {
    margin-top:10px;
    width:70%;
    height:28px;
    padding-left:5px;
   
}

#chatContainer button {
    height:32px;
    width:8.5%;
}

#messagesWindow{
    width: 78.5%;
    margin-right:1%;
    height: 490px;
    float:left;
    overflow-y: auto;
    word-wrap: break-word;
    border-radius:5px;
    padding:5px;
    font-size: 15px;
}

#clientList{
    width: 18.5%;
    float:right;
    height: 245px;
    word-wrap: break-word;
    border-radius:5px;
    background-color: #f2f2f2;
    padding:5px 0 0 5px;
    color: #ff751a;
}

#channelList{
    width: 18.5%;
    float:right;
    margin-top:5px;
    height: 240px;
    word-wrap: break-word;
    border-radius:5px;
    background-color: #f2f2f2;
    padding:5px 0 0 5px;
    color: #ff751a;
}


